.node {
    cursor: pointer;
  }
  .node:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }
  .node--leaf {
    fill: white;
  }
  .label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  }
  .label,
  .node--root,
  .node--leaf {
    pointer-events: none;
  }
  .test{
    width: 100%;
    height: 70vh;
  }
  .node {
    cursor: pointer;
  }
  .node:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }
  .node--leaf {
    fill: white;
  }
  .label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  }
  .label,
  .node--root,
  .node--leaf {
    pointer-events: none;
  }
  
  